<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>ICM</title>

        <link rel="stylesheet" href="/static/icm.css" />
    </head>
    <body>
        <div>
        <h1>ICM 2022</h1>
        <h2>The International Congress of Mathematicians (ICM) is the largest conference for the topic of mathematics. It meets once every four years, hosted by the International Mathematical Union (IMU).</h2>
        <p>The Fields Medals, the Nevanlinna Prize, the Gauss Prize, and the Chern Medal are awarded during the congress's opening ceremony. Felix Klein and Georg Cantor are credited with putting forward the idea of an international congress of mathematicians in the 1890s. During the 1900 congress in Paris, France, David Hilbert announced his famous list of 23 unsolved mathematical problems, now termed Hilbert's problems. Moritz Cantor and Vito Volterra gave the two plenary lectures at the start of the congress.</p>
        <p>The 29th ICM will be held in Saint Petersburg at 6–14 July 2022.</p>
        <p class="join"><a href="/register?ref={{ ref }}">Join Now</a></p>
        </div>
        <img src="/static/spb.jpg" />
    </body>
</html>
