<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>ICM</title>

        <link rel="stylesheet" href="/static/icm.css" />
    </head>
    <body>
        <div>
        <h1>ICM 2022</h1>
        <h2>Your Profile!</h2>
        <p><code>Hello {{ first_name }} {{ last_name }}!</code></p>
        <p>Congratulations with registration to ICM 2022!</p>
        <p class="error">Your promo code for flight to Saint Petersburg: {{ flag }}</p>
        </div>
        <img src="/static/spb.jpg" />
    </body>
</html>
