private/Qt5Widgets.dll filter=lfs diff=lfs merge=lfs -text
private/round.exe filter=lfs diff=lfs merge=lfs -text
private/platforms/qwindows.dll filter=lfs diff=lfs merge=lfs -text
private/Qt5Core.dll filter=lfs diff=lfs merge=lfs -text
private/Qt5Gui.dll filter=lfs diff=lfs merge=lfs -text
