<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Ugra Best EDM Music Creator</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <div class="controls">
        <button class="play" id="play" onclick="playGrid()">▶</button>
        <button class="stop" id="stop">◼</button>
      </div>
      <div class="sequencer" id="sequencer">
        <div class="grid" id="grid">
        </div>
        <div class="tracks" id="tracks">
        </div>                
      </div>
      <script src="/static/sequencer.js"></script>
    </body>
</html>
